$body-color: #fff;
$body-font-weight: 400;
$font-family-sans-serif: 'Raleway', sans-serif;

// Removes the default gutter in the x-axis for rows
$grid-gutter-width: 0;

// Color palette theme
// https://colorhunt.co/palette/f1f6f9394867212a3e9ba4b5
$primary-color: #394867;
$complementary-color: #2a9d8f;
$secondary-color: #212A3E;
$tertiary-color: #9BA4B5;
$quaternary-color: #F1F6F9;
$highlight-color: #088395;