section#about {
    color: #313131;
}

section#about .profile {
    background-image: url('../img/profile.jpg');
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

section#about .tech-content > .row:not(.legend-row) {
    margin-bottom: 15px;
}

section#about .progress {
    background-color: #d2d4d6;
}

section#about .progress-bar {
    border: 1px solid black;
    border-radius: inherit;
}

section#about .legend {
    border-radius: 1rem;
    display: inline-block;
    vertical-align: middle;
}

section#about .legend-text {
    font-style: italic;
}

section#about .legend-col {
    padding: 0;
}

section#about .legend-b {
    background-color: #5050e4;
}

section#about .legend-i {
    background-color: #1ab51a;
}

section#about .legend-p {
    background-color: #f75050;
}