@import 'responsive.css';
@import 'button.css';

body {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0px;
    font-size: 8pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section#home {
    background-image: radial-gradient(100% 176%, #253854 80%, #061922 100%);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

section#home > object {
    width: calc(100vw);
    height: calc(100vh);
    position: absolute;
}

section#home > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#home > .content > .text {
    text-align: center;
    margin-bottom: 10px;    
}

section#home .name {
    color: #e31b6d;
}