.CustomModal {
    color: black;
    max-width: 50vw;
    
    @include responsive('max-width', '100%', '80%');

    :global {
        .modal-header {
            text-align: left;   
            padding: 1rem;
            
            @include responsive('padding', '.5rem 1rem');

            .modal-title {
                font-size: 22pt;
                font-weight: 600;
                line-height: 20pt;

                @include responsive('font-size', '16pt');
                @include responsive('line-height', '30pt');
            }

            .tag {
                font-size: 11pt;
                font-weight: 600;
                display: block;
                text-transform: uppercase;
                color: $tertiary-color;

                @include responsive('font-size', '8pt');
            }
        }
        
        .modal-body {
            text-align: left;
            font-size: 11pt;
            padding: 1rem;

            @include responsive('font-size', '9pt');
            @include responsive('padding', '.5rem 1rem');
        }
    } 
}