.experience {
    :global {
        .tech-content {
            @include responsive('margin-bottom', '30px');

            .row {
                margin-bottom: 15px;
            }

            .skill {
                &__label {                    
                    @include responsive('margin-top', '30px');
                    @include responsive('font-size', '16px');
                    font-family: "Lato", sans-serif;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 18px;
                    margin: 0 0 50px;
                    line-height: 1.5;
                    justify-content: center;
                }

                &__logos {
                    flex-flow: row wrap;
                    gap: 2.5em 1em;
                    flex: 1 1 auto;
                    justify-content: space-evenly;

                    .logo-col {
                        // padding-bottom: 0;
                        // height: 100px;

                        .logo {
                            @include responsive('width', '100%', '55px', '55px', '55px', '55px');
                            max-width: 100%;
                            background-size: cover;
                            height: auto;
                            display: block;
                            margin: 0 auto;
                            transition: all .3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}