.projects {
    color: #313131;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    :global {
        .row {
            justify-content: center;

            .project-card {
                transition: background 0.3s ease-in-out;
                @include responsive('width', '100vw');
                @include responsive('max-width', '100vw');
                @include responsive('height', '240px', '300px', '300px', '300px', '300px');

                .project-img {
                    height: 100%;
                    width: 100%;

                    &:hover {
                        background: #f0f0f0 !important;
                    }
                }

                .overlay {
                    color: #1b242f;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    opacity: 0;
                    transition: opacity 0.5s;
                }

                &:hover {
                    .overlay {
                        opacity: 1;
                    }
                } 
            }
        }
    }
}