.projects {
    color: #313131;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    :global {
        .row {
            justify-content: center;

            .project-card {
                display: inline-block;
                position: relative;

                .project-img {
                    height: 100%;
                    width: 100%;
                    transition: opacity 0.5s;
                    @include responsive('width', '100vw');
                    @include responsive('max-width', '100vw');
                    @include responsive('height', '240px', '300px', '300px', '300px', '300px');

                    &:hover {
                        transition: background 0.3s ease-in-out;
                        // background: #f0f0f0 !important;

                    }
                }

                .card-text {
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }

                .overlay {
                    color: #1b242f;
                    opacity: 0;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    z-index: 2;
                }

                .card-button {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    border: 2px solid #e31b6d;
                    font-size: 13pt;
                    margin: 0 auto;
                    padding: 7px 0;
                    width: 170px;

                    &:hover {
                        background: #e31b6d;
                        color: #fff;
                        cursor: pointer;
                    }
                }

                &:hover {
                    .overlay {
                        opacity: 1;
                    }

                    .project-img {
                        opacity: 0;
                    }

                    .card-text {
                        cursor: default;
                        opacity: 1;
                        top: 24%;
                    }

                    .card-button {
                        bottom: 24%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}